.chat_box_title{
    background-color: white;
    border-radius: 8px 8px 0 0;
    padding-top: 20px;
    height: 80px;
    border-bottom-style: solid;
    border-bottom-color: #c9c9c9;
    border-bottom-width: 1px;
}
.chat_icon{
    font-size: 30px;
    margin: 0 10px 0 20px;
    float: left;
}
.title{
    float: left;
}
.chat_box_input{
    background-color: white;
    border-radius: 0 0 8px 8px;
    height: 60px;
}
.chat_box_input input {
    font-weight: 400;
}

/* overflow-y:auto;scroll
      max-height:90%; */