.message_box{
    background-color: white;
    padding: 20px 40px;
    height: 80px;
    border-bottom-style: solid;
    border-bottom-color: #c9c9c9;
    border-bottom-width: 1px;
    overflow: auto;
    height: auto;
    max-height: 50vh;
    flex: 1;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}
.img_profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 15px;
    padding: 0;
    background-color: #f8c06d;
}

.img_profile > img{
    display: block;
    position: relative;
    height: 100%;
    border-radius: 50%;
}
.message_name{
    float: left;
    font-size: 20px;
}
.message_time{
    float: right;
    padding-left: 10px;
    margin: 5px 0 0 0;
    font-size: 15px;
}
.message_body{
    float: left;
    font-size: 18px;
}