.icon_box{
    width: 100px;
    height: 100px;
    background-color: black
}
.white_block{
    height: 100%;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
}
.white_block > p {
    flex-wrap: wrap;
    word-wrap: break-word;
}
.icon_blue{
    font-size: 40px;
    text-align: center;
    align-items: center;
    padding: 22px 0;
    color: white;
    background-color: #36a2eb;
    border-radius: 8px 0px 0px 8px;
}
.icon_orange{
    font-size: 40px;
    text-align: center;
    align-items: center;
    padding: 22px 0;
    color: white;
    background-color: #ffce56;
    border-radius: 8px 0px 0px 8px;
}
.icon_green{
    font-size: 40px;
    text-align: center;
    align-items: center;
    padding: 22px 0;
    color: white;
    background-color: #4bc0c0;
    border-radius: 8px 0px 0px 8px;
}
.icon_red{
    font-size: 40px;
    text-align: center;
    align-items: center;
    padding: 22px 0;
    color: white;
    background-color: #f8324b;
    border-radius: 8px 0px 0px 8px;
}
.description{
    font-size: 20px;
}
.rowWidgetsCard{
    height: 100px;
}

/* #ff6384 -- rosa
#36a2eb -- azul
#ffce56 -- amarelo
#4bc0c0 -- azul esverdeado
#9966ff -- roxo #a47bf6
#ff9f40 -- laranja
#f8324b -- vermelho */